.canvas-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
}
.navbar-dropdown {
  max-height: 15vh;
  overflow-y: scroll;
}
<<<<<<< Updated upstream
=======
.signin {
  margin-top: 0px;
}
>>>>>>> Stashed changes
