
API/ChatPro/.vs/ChatPro/v17/.suo
API/ChatPro/.vs/ChatPro/DesignTimeBuild/.dtbcache.v2
API/ChatPro/.vs/ProjectEvaluation/chatpro.metadata.v2
API/ChatPro/.vs/ProjectEvaluation/chatpro.projects.v2
API/ChatPro/.vs/ChatPro/v17/.suo
API/ChatPro/.vs/ChatPro/v17/.futdcache.v1
API/ChatPro/.vs/ChatPro/v17/.suo
API/ChatPro/.vs/ChatPro/v17/.suo
*.vsidx
*.suo