@import url("https://fonts.googleapis.com/css?family=Montserrat:600&display=swap");
.share-btn2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(160%, 190%);
}
.content-share2 {
  padding: 13px 16px;
  display: flex;
  width: 145%;
  border: 2px solid #eae2e1;
  border-radius: 5px;
  cursor: pointer;
}
.content.share-active2 {
  border-color: #f9b9c4;
  background: #fbd0d8;
}
.share2 {
  position: absolute;
  background: url("./share-img.png") no-repeat;
  background-position: left;
  background-size: 29%;
  height: 200%;
  width: 200%;
  top: 50%;
  left: -120%;
  transform: translate(100%, -50%);
}
.share-text2 {
  font-size: 21px;
  margin-left: 0px;

  color: grey;
  font-family: "Montserrat", sans-serif;
}
.numb-share:before2 {
  content: "";
  font-size: 21px;
  margin-left: 7px;
  font-weight: 600;
  color: #9c9496;
  font-family: sans-serif;
}
.numb.share-active:before2 {
  content: "";
  color: #9c9496;
}
.text.share-active2 {
  color: #000;
}
.heart.share-active2 {
  animation: animate 0.8s steps(28) 1;
  background-position: right;
  animation-fill-mode: forwards;
}
@keyframes animate {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
