.sent {
  background-color: #3498db;
  text-align: right;
  border: 1px solid #ccc;
  max-width: 80%;
  margin-left: 20%;
  margin-bottom: 5px;
  border-radius: 10px;
}

.received {
  background-color: lightgreen;
  text-align: left;
  border: 1px solid #ccc;
  max-width: 80%;
  margin-bottom: 5px;
  border-radius: 10px;
}
.navbar-input-container {
  margin-top: 49vh;
  margin-left: 9.5vh;
  position: fixed;
  border: 0.4vh solid lightblue;
  min-width: 30vh;
  background-color: lightblue;
  translate: 164vh;
  z-index: 10;
}
.navbar-text-time {
  font-size: 0.7rem;

  margin-left: 0.5rem;
}
.navbar-text .timestamp {
  font-size: 12px;
  text-align: left;
  margin-top: 4px;
}

.sent .timestamp {
  text-align: right;
}
